div.ace-line{
  position: relative;
}

#editorcontainerbox #editorcontainer{
  position: relative;
}

#editorSkeletonWrapper{
  position: absolute;
  width: calc(100% - 6px);
  height: 100%;
  background-color: #f8f9fa;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  align-content: center;
}

#editorSkeleton {
  margin: auto;
  max-width: 910px;
  width: 100%;
  height: 100%;
  background: #fff;
  display: block;
  padding: 20px;
  box-shadow: 0 1px 3px 1px rgb(60 64 67 / 15%);
  border-radius: 4px;
  margin-top: 24px;
}

#editorSkeleton .paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40px;
}

#editorSkeleton .paragraph:first-of-type{
  margin-top: 0;
}

#editorSkeleton .paragraph .line {
  height: 16px;
  margin-top: 12px;
  border-radius: 4px;
  background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
  background-size: 600px;
  animation: shine-lines 1.6s infinite linear;
  background-color: #ddd;
}

#editorSkeleton .paragraph .line.large{
  width: 100%;
}

#editorSkeleton .paragraph .line.medium{
  width: 90%;
}

#editorSkeleton .paragraph .line.small{
  width: 70%;
}

#editorSkeleton .paragraph .line.header{
  width: 45%;
  background-color: #ccc;
  background-image: linear-gradient(90deg, #ccc 0px, #e8e8e8 40px, #ccc 80px);
  height: 20px;
  margin-bottom: 10px;
}

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }
  40%, 100% {
    background-position: 140px;
  }
}

#filterLoader{
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: calc(-30px - -50%);
  top: calc(-10px - -50%);
  display: none;
}

#filterLoader::after{
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: calc(-30px - -50%);
  top: calc(-10px - -50%);
  display: none;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
