#outerdocbody iframe {
	max-width: 950px!important;
	box-shadow: none!important;
	background: inherit!important;
}

.inner-editor{
	padding: 5px 0;
}

.outerdocbody{
	position: relative;
}

#outerdocbody iframe{
	padding: 0!important;
}

#innerdocbody{
	width: 100%;
	padding: 40px 55px!important;
	max-width: 885px;
	margin: auto;
	box-shadow: 0 1px 3px 1px rgba(60,64,67,.15);
	background: #fff!important;
	overflow: inherit;
	outline: none;
	min-height: 700px;
  outline: 0px solid transparent;
}


#innerSkeleton {
  margin: auto;
  width: calc(100% - 56px);
  height: 100%;
  background: #fff;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-shadow: 0 1px 3px 1px rgb(60 64 67 / 15%);
  border-radius: 4px;
  margin-top: 3px;
}

#innerSkeleton .paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40px;
}

#innerSkeleton .paragraph:first-of-type{
  margin-top: 0;
}

#innerSkeleton .paragraph .line {
  height: 16px;
  margin-top: 12px;
  border-radius: 4px;
  background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
  background-size: 600px;
  animation: shine-lines 1.6s infinite linear;
  background-color: #ddd;
}

#innerSkeleton .paragraph .line.large{
  width: 100%;
}

#innerSkeleton .paragraph .line.medium{
  width: 90%;
}

#innerSkeleton .paragraph .line.small{
  width: 70%;
}

#innerSkeleton .paragraph .line.header{
  width: 45%;
  background-color: #ccc;
  background-image: linear-gradient(90deg, #ccc 0px, #e8e8e8 40px, #ccc 80px);
  height: 20px;
  margin-bottom: 10px;
}

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }
  40%, 100% {
    background-position: 140px;
  }
}

#filterLoader{
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: calc(-30px - -50%);
  top: calc(-10px - -50%);
  display: none;
}

#filterLoader::after{
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: calc(-30px - -50%);
  top: calc(-10px - -50%);
  display: none;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
