<li class="separator acl-write"></li>
<li class="separator"></li>
<style>
  #btn_filterView{
    width: 28px;
    height: 28px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #btn_filterView svg{
    fill: #576273;
    width: 14px;height: auto;
  }
  #btn_filterView.active{
    background-color: #576273;

  }
  #btn_filterView.active svg {
    fill: #fff;
  }
</style>
<li class="" data-type="button" data-key="filter" style="position: relative;margin-right: 10px;">
  <a href="">
    <button id="btn_filterView">
      <svg width="394pt" height="394pt" viewBox="-5 0 394 394"
        xmlns="http://www.w3.org/2000/svg">
        <path d="m367.82 0h-351.26c-6.1992-0.011719-11.879 3.4492-14.711 8.9609-2.8711 5.5859-2.3672 12.312 1.3008 17.414l128.69 181.29c0.042968 0.0625 0.089843 0.12109 0.13281 0.18359 4.6758 6.3125 7.207 13.961 7.2188 21.816v147.8c-0.027344 4.375 1.6914 8.582 4.7734 11.688 3.0859 3.1016 7.2812 4.8516 11.656 4.8516 2.2227-0.003906 4.4258-0.44531 6.4805-1.3008l72.312-27.57c6.4766-1.9805 10.777-8.0938 10.777-15.453v-120.02c0.011719-7.8555 2.543-15.504 7.2148-21.816 0.042968-0.0625 0.089844-0.12109 0.13281-0.18359l128.69-181.29c3.668-5.0977 4.1719-11.82 1.3008-17.406-2.8281-5.5156-8.5117-8.9766-14.707-8.9648z" />
      </svg>

    </button>
  </a>

</li>
<li class="separator"></li>
<style>
  .toolbar ul,
  .toolbar {
    overflow: visible;
  }

  .modal_filter{
    width: 330px;
    min-height: 160px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
    position: absolute;
    top: 54px;
    right: 0;
    font-family: Quicksand, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    display: none;
    opacity: 0;
    box-shadow: 0 0 0 1px rgb(99 114 130 / 16%), 0 8px 16px rgb(27 39 51 / 8%);
    /* transition-delay: 0.5s; */
    /* transition: all  0.3s cubic-bezier(0.19, 1, 0.22, 1); */
  }
  .modal_filter.active{
    display: block;
    opacity: 1;
    /* visibility: visible; */
  }

  .modal_filter .modal_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  .modal_filter .modal_header button {
    padding: 0;
  }

  .modal_filter .modal_header p.title {
    font-weight: 500;
    font-size: 1.4rem;
  }
  .modal_filter .section_form {
    padding: 5px 0 15px;
    margin-bottom: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;

  }
  .modal_filter .section_form .form_inputs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0;
    font-size: 0.92rem;
    font-weight: 600;
    align-items: center;
  }
  .modal_filter .section_form .form_inputs input {
    width: 100%;
    padding: 6px;
    border: 2px solid transparent;
    padding: 4px 6px;
  }
  .modal_filter .section_form .form_inputs input:focus {
    border-color: #2678FF;
  }
  .modal_filter .section_form .inputs_label {
    width: 70px;
    padding-right: 8px;

  }
  .modal_filter .section_form .form_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 12px;
    font-size: 0.96rem;
    padding-left: 60px;
    align-items: center;

  }

  .modal_filter .section_form .form_bottom button{
    background-color: #eee;
    text-transform: capitalize;
    padding: 6px 14px;
    color: #aaa;
  }
  .modal_filter .section_form .form_bottom button.active{
    background-color: #2678FF;
    color: #fff;
  }

  .section_filterList .title{
    font-weight: 500;
  font-size: 1.4rem;
  }

  .section_filterList ul{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  max-height: 160px;
  min-height: 60px;
  overflow: auto;
}
  .section_filterList ul li{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.92rem;
    font-weight: 600;
    margin: 2px 0!important;
  }
  .section_filterList ul li > div {
  }
  .section_filterList ul li > div:last-of-type {
    width: 56px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .section_filterList ul li button{
    padding: 0;
  }

  .section_filterList ul li button.btn_filter_act,
  .section_filterList ul li button.btn_filter_remove {
    width: 28px;
    height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .section_filterList ul li button.btn_filter_act > svg,
  .section_filterList ul li button.btn_filter_remove >  svg {
    width: 28px;
  }

  .section_filterList ul li button.btn_filter_remove > svg {
    width: 32px;
  }

  .section_filterList ul li button.btn_filter_remove:hover,
  .section_filterList ul li button.btn_filter_act:hover{
    background-color: #eee;
  }

  .section_filterList ul li button.btn_filter_act svg.active{
    display: none;
  }

  .section_filterList ul li button.btn_filter_act svg[active="true"].active {
    display: block;
  }

  .section_filterList ul li button.btn_filter_act svg[active="true"].deactive {
    display: none;
  }


  .section_filterList ul li .filter_name {

  }

  .section_filterList ul li .filter_url {
    color: #aaa;
    font-weight: 500;
  }

  .section_filterList ul li[active="true"] {
    background-color: #dafef2;
    padding: 2px 6px;
    border-radius: 5px;
  }

  .filterNumResults.active{
    color: #2a2a2a;
    text-decoration: underline;
    font-weight: bold;
  }

  li.filterEmpty{
    color: #ddd;
    justify-content: center!important;
    font-size: 1.0rem!important;
    text-align: center;
    line-height: 20px;
    text-transform: uppercase;
    padding-top: 15px;
  }

  li .filter_undo{
    width: 100%;
    padding: 6px 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #eee;
    border-radius: 5px;
    box-shadow: 1px 1px 0px rgb(0 0 0 / 10%);
    margin: 6px 0;
    text-transform: capitalize;
  }

  li .filter_undo button{
    background: #2678FF;
    color: #fff;
    padding: 4px 10px!important;
    font-size: .8rem;
  }
</style>
<div class="modal_filter">
  <div class="modal_header">
    <p class="title">Create Filter</p>
    <button class="btn_closeModal"><i class="buttonicon buttonicon-times"></i></button>
  </div>
  <div class="section_form">
    <div class="form_inputs">
      <label for="filter_name" class="inputs_label">Filter</label>
      <input type="text" name="filter_name" value="" id="filter_name" >
    </div>
    <div class="form_inputs">
      <label for="filter_url" class="inputs_label">URL ../</label>
      <input type="text" name="filter_url" style="color:#ccc" value="(autofill)"  id="filter_url">
    </div>
    <div class="form_bottom">
      <p style="color: #ccc;">
        <span><span class="filterNumResults">0</span> / <span class="totalHeader">25</span></span> Headings
      </p>
      <button class="btn_createFilter" disabled="true">Create</button>
    </div>
  </div>
  <div class="section_filterList">
    <p class="title">Filters</p>
    <ul>
      <li class="filterEmpty">
        <p>There is no filter <br> create the first filter</p>
      </li>
    </ul>
  </div>
</div>

<script id="filter_listItem" type="text/html">
  <div active="${active}">
    <div class="filter_name">"${filterName}"</div>
    <div class="filter_url">/${filterUrl}</div>
    <div>
      <button class="btn_filter_act" filter-id="${filterId}" filter-url="${filterUrl}" filter-name="${filterName}" active="${active}">
        <svg class="deactive" style="width: 24px;" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 32 32" fill="none" active="${active}"><path d="M7 17v-2h3v-3h2v3h3v2h-3v3h-2v-3H7z" fill="#5F6368"/><mask id="a" maskUnits="userSpaceOnUse" x="5" y="5" width="22" height="23"><path d="M5.5 10H16v11h-6l1 7h15.5V5.5h-21V10z" fill="#fff"/></mask><g mask="url(#a)"><path d="M25 7H7l6.968 7.273V27l4.064-4.242v-8.485L25 7z" stroke="#5F6368" stroke-width="2" stroke-linecap="round" stroke-linejoin="bevel"/></g></svg>
        <svg class="active" style="width: 24px;" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 32 32" fill="none" active="${active}"><mask id="a" maskUnits="userSpaceOnUse" x="5" y="5" width="22" height="23"><path d="M5.5 13H16v6h-6l1 9h15.5V5.5h-21V13z" fill="#fff"/></mask><g mask="url(#a)"><path d="M25 7H7l6.968 7.273V27l4.064-4.242v-8.485L25 7z" fill="#5F6368" stroke="#5F6368" stroke-width="2" stroke-linecap="round" stroke-linejoin="bevel"/></g><path fill="#5F6368" d="M7 15h8v2H7z"/></svg>
      </button>
      <button class="btn_filter_remove" filter-id="${filterId}" filter-url="${filterUrl}" filter-name="${filterName}">
        <svg style="width: 24px;" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 32 32" fill="none"><rect x="7" y="9" width="18" height="2" rx="1" fill="#5F6368"/><path d="M12 8a2 2 0 012-2h4a2 2 0 012 2h-8z" fill="#5F6368"/><path d="M10.865 24.071L10.074 13h11.852l-.79 11.071a1 1 0 01-.998.929h-8.276a1 1 0 01-.997-.929z" stroke="#5F6368" stroke-width="2"/><path fill="#5F6368" d="M12 8h2v1h-2zM18 8h2v1h-2z"/></svg>
      </button>
    </div>
  </div>
</script>

<script id="filter_remove_undo" type="text/html">
  <span class="filter_undo">
    <p>deleted "Link"</p>
    <button class="btn_undoDelete" filter-id="${filterId}" filter-url="${filterUrl}" filter-name="${filterName}">undo</button>
  </span>
</script>
