<script id="filterViewTemplate" type="text/html">
  <div id="filterModal" class="">
    <div class="modal_filter">
      <div class="modal_header">
        <p class="title">Filters</p>

        <button class="btn_closeModal"><i class="buttonicon buttonicon-times"></i></button>
      </div>

      <div class="section_filterList" style="position: relative;">
        <div class="loader">
          <div class="row">
            <div class="line name"></div>
            <div class="line filter"></div>
            <div class="box action"></div>
          </div>
          <div class="row">
            <div class="line name"></div>
            <div class="line filter"></div>
            <div class="box action"></div>
          </div>
          <div class="row">
            <div class="line name"></div>
            <div class="line filter"></div>
            <div class="box action"></div>
          </div>
          <div class="row">
            <div class="line name"></div>
            <div class="line filter"></div>
            <div class="box action"></div>
          </div>
          <div class="row">
            <div class="line name"></div>
            <div class="line filter"></div>
            <div class="box action"></div>
          </div>
        </div>

        <ul>
          <li class="filterEmpty">
            <p>There is no filter <br> create the first filter</p>
          </li>
        </ul>
      </div>

      <div class="section_form">
        <form id="epFilterForm">
          <p class="title">Create Filter</p>
          <div class="form_inputs">
            <label for="filter_name" class="inputs_label">Filter</label>
            <input type="text" name="filter_name" value="" id="filter_name" autocomplete="off">
          </div>
          <div class="form_inputs">
            <label for="filter_url" class="inputs_label">URL</label>
            <div style="display:flex; align-items: center;width: 100%;">
              <span class="filter_urlPrefix" style="margin-right: 14px;font-size: 0.92rem;font-weight: 600; text-decoration: underline;"></span>
              <input type="text" name="filter_url" style="color:#ccc" placeholder="(autofill)"  id="filter_url" autocomplete="off">
            </div>
          </div>
          <div class="form_bottom">
            <p style="color: #ccc;">
              <span><span class="filterNumResults">0</span> / <span class="totalHeader">0</span></span> Headings
            </p>
            <button class="btn_createFilter" disabled="true">Create</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</script>

<script id="filterMobileView" type="text/html">

    <div class="toolbar">
      <button class="btnFiltersSection active">Filters</button>
      <button class="btnAddsSection">Add</button>
    </div>
    <div class="filtersSection active">
      <div class="section_filterList">
        <div class="loader">
          <div class="row">
            <div class="line name"></div>
            <div class="line filter"></div>
            <div class="box action"></div>
          </div>
          <div class="row">
            <div class="line name"></div>
            <div class="line filter"></div>
            <div class="box action"></div>
          </div>
          <div class="row">
            <div class="line name"></div>
            <div class="line filter"></div>
            <div class="box action"></div>
          </div>
          <div class="row">
            <div class="line name"></div>
            <div class="line filter"></div>
            <div class="box action"></div>
          </div>
          <div class="row">
            <div class="line name"></div>
            <div class="line filter"></div>
            <div class="box action"></div>
          </div>
        </div>
        <ul>
          <li class="filterEmpty">
            <p>There is no filter <br> create the first filter</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="addSections">
      <div class="section_filterList">
        <form id="epFilterForm">
          <div class="form_inputs">
            <label for="filter_name" class="inputs_label">Filter</label>
            <input type="text" name="filter_name" value="" id="filter_name" autocomplete="off">
          </div>
          <div class="form_inputs">
            <label for="filter_url" class="inputs_label">Slug</label>
            <input type="text" name="filter_url" style="color:#ccc" placeholder="(autofill)"  id="filter_url" autocomplete="off">
          </div>
          <div class="form_bottom">
            <p style="color: #ccc;">
              <span><span class="filterNumResults">0</span> / <span class="totalHeader">0</span></span> Headings
            </p>
            <button class="btn_createFilter" disabled="true">Create and apply</button>
          </div>
        </form>
        </div>
    </div>

</script>

<script id="filter_listItem" type="text/html">
  <div active="${active}" highlight="${highlight}">
    <div class="filter_name">"${filter.name}"</div>
    <div class="filter_url">/${filter.slug}</div>
    <div>
      <button class="btn_filter_act" filter-id="${filter.id}" active="${active}">
        <svg class="deactive" style="width: 24px;" width="26" height="26" viewBox="0 0 32 32" fill="none" active="${active}"><path d="M7 17v-2h3v-3h2v3h3v2h-3v3h-2v-3H7z" fill="#5F6368"/><mask id="a" maskUnits="userSpaceOnUse" x="5" y="5" width="22" height="23"><path d="M5.5 10H16v11h-6l1 7h15.5V5.5h-21V10z" fill="#fff"/></mask><g mask="url(#a)"><path d="M25 7H7l6.968 7.273V27l4.064-4.242v-8.485L25 7z" stroke="#5F6368" stroke-width="2" stroke-linecap="round" stroke-linejoin="bevel"/></g></svg>
        <svg class="active" style="width: 24px;" width="26" height="26" viewBox="0 0 32 32" fill="none" active="${active}"><mask id="a" maskUnits="userSpaceOnUse" x="5" y="5" width="22" height="23"><path d="M5.5 13H16v6h-6l1 9h15.5V5.5h-21V13z" fill="#fff"/></mask><g mask="url(#a)"><path d="M25 7H7l6.968 7.273V27l4.064-4.242v-8.485L25 7z" fill="#5F6368" stroke="#5F6368" stroke-width="2" stroke-linecap="round" stroke-linejoin="bevel"/></g><path fill="#5F6368" d="M7 15h8v2H7z"/></svg>
      </button>
      <button class="btn_filter_remove" filter-id="${filter.id}" active="${active}" highlight="${highlight}">
        <svg style="width: 24px;" width="26" height="26" viewBox="0 0 32 32" fill="none"><rect x="7" y="9" width="18" height="2" rx="1" fill="#5F6368"/><path d="M12 8a2 2 0 012-2h4a2 2 0 012 2h-8z" fill="#5F6368"/><path d="M10.865 24.071L10.074 13h11.852l-.79 11.071a1 1 0 01-.998.929h-8.276a1 1 0 01-.997-.929z" stroke="#5F6368" stroke-width="2"/><path fill="#5F6368" d="M12 8h2v1h-2zM18 8h2v1h-2z"/></svg>
      </button>
    </div>
  </div>
</script>

<script id="filter_remove_undo" type="text/html">
  <span class="filter_undo">
    <p>deleted "Link"</p>
    <button class="btn_undoDelete" filter-id="${filter.id}" active="${active}" highlight="${highlight}">undo</button>
  </span>
</script>
<script id="filter_listItem" type="text/html">
  <div active="${active}" highlight="${highlight}">
    <div class="filter_name">"${filter.name}"</div>
    <div class="filter_url">/${filter.slug}</div>
    <div>
      <button class="btn_filter_act" filter-id="${filter.id}" active="${active}">
        <svg class="deactive" style="width: 24px;" width="26" height="26" viewBox="0 0 32 32" fill="none" active="${active}"><path d="M7 17v-2h3v-3h2v3h3v2h-3v3h-2v-3H7z" fill="#5F6368"/><mask id="a" maskUnits="userSpaceOnUse" x="5" y="5" width="22" height="23"><path d="M5.5 10H16v11h-6l1 7h15.5V5.5h-21V10z" fill="#fff"/></mask><g mask="url(#a)"><path d="M25 7H7l6.968 7.273V27l4.064-4.242v-8.485L25 7z" stroke="#5F6368" stroke-width="2" stroke-linecap="round" stroke-linejoin="bevel"/></g></svg>
        <svg class="active" style="width: 24px;" width="26" height="26" viewBox="0 0 32 32" fill="none" active="${active}"><mask id="a" maskUnits="userSpaceOnUse" x="5" y="5" width="22" height="23"><path d="M5.5 13H16v6h-6l1 9h15.5V5.5h-21V13z" fill="#fff"/></mask><g mask="url(#a)"><path d="M25 7H7l6.968 7.273V27l4.064-4.242v-8.485L25 7z" fill="#5F6368" stroke="#5F6368" stroke-width="2" stroke-linecap="round" stroke-linejoin="bevel"/></g><path fill="#5F6368" d="M7 15h8v2H7z"/></svg>
      </button>
      <button class="btn_filter_remove" filter-id="${filter.id}" active="${active}" highlight="${highlight}">
        <svg style="width: 24px;" width="26" height="26" viewBox="0 0 32 32" fill="none"><rect x="7" y="9" width="18" height="2" rx="1" fill="#5F6368"/><path d="M12 8a2 2 0 012-2h4a2 2 0 012 2h-8z" fill="#5F6368"/><path d="M10.865 24.071L10.074 13h11.852l-.79 11.071a1 1 0 01-.998.929h-8.276a1 1 0 01-.997-.929z" stroke="#5F6368" stroke-width="2"/><path fill="#5F6368" d="M12 8h2v1h-2zM18 8h2v1h-2z"/></svg>
      </button>
    </div>
  </div>
</script>

<script id="filter_remove_undo" type="text/html">
  <span class="filter_undo">
    <p>deleted "Link"</p>
    <button class="btn_undoDelete" filter-id="${filter.id}" active="${active}" highlight="${highlight}">undo</button>
  </span>
</script>
